.about {
  @include tablets {
    &__triangle-right.triangle__fill-white {
      fill: $beige;
    }
  }
  &__main-contant {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  &__left,
  &__right {
    width: 50%;

    @include tablets {
      width: 100%;
    }
  }
  &__left {
    background: $beige;
    display: flex;
    flex-direction: column;
    &-title {
      text-align: center;
    }
    &-content {
      display: flex;
    }
  }
  &__right {
    background: $white;
    display: flex;
    flex-direction: column;
    &-title {
      width: 255px;
      text-align: center;
      margin: 0 auto;
      padding: 20px 0 32px;
    }
    &-description {
      margin: 0 40px;
    }
    &-content {
      margin: 0 40px;
    }
  }
}
