.arrow-down {
  width: 30px;
  height: 20px;
}

.arrow-down_rotated {
	transform: rotate(180deg);
}

.arrow-down__pic {
  display: block;
  width: 100%;
  height: 100%;
  fill: $true-white;
  opacity: .7;
}