.burger-menu__close {
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
    
.burger-menu__hamburger {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 4px;
	background-color: $true-white;
	border-radius: 4px;
}

.burger-menu__hamburger:before,
.burger-menu__hamburger:after {
	content: "";
	position: absolute;
	background-color: $true-white;
	border-radius: 4px;
	width: 100%;
	height: 4px;
	transition: transform 0.3s;
}

.burger-menu__hamburger:before {
	top: -10px;
}

.burger-menu__hamburger:after {
	top: 10px;
}

.burger-menu__close_change {
	z-index: 100;
}

.burger-menu__close_change .burger-menu__hamburger {
	left: -40px;
}

.burger-menu__close_change .burger-menu__hamburger:before {
	left: 55px;
	top: 0;
	transform: rotate(45deg);
}

.burger-menu__close_change .burger-menu__hamburger:after {
	left: 55px;
	top: 0;
	transform: rotate(-45deg);
}

.burger-menu__open {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 8;
	font-size: 0;
}

.burger-menu__open.hidden {
	position: absolute;
	left: -9999px;
	top: auto;
	right: auto;
	bottom: auto;
}

.burger-menu__open-right,
.burger-menu__open-left {
	position: absolute;
	background-color: #6C9C5A;
	opacity: 0.87;
	height: 100%;
	width: 50%;
}

.burger-menu__open-right {
	right: 0;
	left: 100%;
}

.burger-menu__open-left {
	right: 100%;
}
  
.burger-menu__open-text {
	opacity: 0;
}

.burger-menu__list {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.burger-menu__item {
	margin-bottom: 15px;
}

.burger-menu__link {
	display: inline-block;
	text-decoration: none;
}

.burger-menu__link.block-subtitle {
	color: $true-white;

	&:hover:after {
			display: block;
			background: $true-white;
	}
}

.burger-menu__link.block-subtitle:after {
	display: none;
	transition: all .5s;
}