.contacts {
	display: flex;
	flex-direction: column;
	max-width: 380px;
}

.contacts__title {
	margin-bottom: 30px;
}

.contacts__item {
	margin-bottom: 15px;

	&:last-child {
		margin-bottom: 0;
	}

	display: flex;
	align-items: center;
}

.contacts__icon {
	margin-right: 12px;
	//выравниваем иконку по центру в блоке
	display: flex;
	justify-content: center;
	align-items: center;
}

.contacts__icon-pic {
	width: 25px;
	height: 25px;
	fill: $light-green;
}

.contacts__content {
	font-weight: 500;
	color: $light-grey;
}