.flip {
  width: 380px;
  height: 395px;
  position: absolute;
  @include centered();
  transform-origin: 50% 50%;

  @include iphone5 {
    width: 320px;
  }

  &__id {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 1s;
    transform: none;
    &.flipped {
      transform: rotateY(180deg);
    }
  }
}
