.hero {
	overflow: hidden;
	height: 100vh;
}

.hero__bg {
	//position: relative;
	top: 0;
	left: 0;
	right: 0;
	height: 1270px;
	position: absolute;
}

.hero__bg-img {
	display: block;
	width: 180%;
}

.hero__title {
	right: 0;
	left: 0;
	@include centered(y);
	text-align: center;
}

.hero__user {
	//right: 0;
	//left: 0;
	@include centered();
	text-align: center;
}

.hero__container {
	position: relative;
	height: 100%;
}

.hero__socials {
	position: absolute;
	top: 33px;
	left: 30px;
}

.socials__icon_hero {
	&:hover {
		@extend %hover-svg-green;
	}
}

.hero__burger-menu {
	position: absolute;
	top: 33px;
	right: 30px;
}





.hero__arrow-down {
	bottom: 50px;
	@include centered(x);
}