.hero {
  overflow: hidden;
  height: 100vh;
  @include laptop {
    height: 700px;
  }
  @include phones {
    height: 500px;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 125%;
    @include laptop {
      height: 115%;
    }
    &-img {
      display: block;
      width: 180%;
    }
  }

  &__title {
    right: 0;
    left: 0;
    @include centered(y);
    text-align: center;
  }

  &__user {
    @include centered();
    text-align: center;
  }
  &__container {
    position: relative;
    height: 100%;
  }
  &__socials {
    position: absolute;
    top: 33px;
    left: 30px;
  }

  &__burger-menu {
    float: right;
  }
  &__arrow-down {
    bottom: 50px;
    @include centered(x);
  }
}
