.wrapper_map {
  display: flex;
  flex-direction: column;
  min-height: 600px;
  @include phones {
    min-height: 500px;
  }
}

.map__main-content {
  flex: 1;
  position: relative;
}

.google-map {
  background: url("../img/map.png") center center no-repeat;
  height: 100%;
  background-size: cover;
}

.map__contacts {
  position: absolute;
 @include centered();
  background-color: rgba(255, 255, 255, 0.85);
  padding: 35px 40px;
  border: 1px solid $dark-grey;
  border-radius: 20px;
}
