.skills {
  &__item {
    margin-bottom: 10px;
    &-name {
      display: inline-block;
      font-weight: 500;
      font-size: 28px;
      color: $light-grey;
      margin-bottom: 15px;

      @include phones {
        text-align: center;
      }
    }
  }
}

.skills-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &__item {
    width: 23%;
    position: relative;
    text-align: center;
    margin-right: 5px;
    @include phones {
      width: 30%;
    }
  }
  &__title {
    font-weight: 500;
    font-size: 13px;
    color: $dark-green;
    position: absolute;
    @include centered();
    @include phones {
      font-size: 12px;
    }
  }
}
