.socials {
  &__item {
    display: inline-block;
    margin-right: 25px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: block;
    cursor: pointer;
    padding: 5px;
  }

  &__icon {
    width: 35px;
    height: 20px;
    fill: $true-white;
  }
}
