.user-about {
	//text-align: center;
	width: 443px;
	margin: 0 auto;
}

.user-about__img {
	//display: inline-block;
	width: 443px;
	height: 390px;
	margin-bottom: 35px;
}

.user-about__title {
	margin-bottom: 30px;
}