.welcome {
  overflow: hidden;
  height: 100vh;
  background: url("../img/hero.jpg") no-repeat center center / cover;

  &__container {
    position: relative;
    height: 100%;
    perspective: 800px;
  }

  &__authorization {
    position: absolute;
    right: 30px;
    top: 30px;

    @include phones {
      @include centered(x);
      right: auto;
    }

    &-btn {
      width: 180px;
      height: 45px;
      border: 1px solid $true-white;
      border-radius: 20px;
      font-family: "roboto";
      font-weight: 500;
      color: $true-white;
      padding: 10px 30px;
      background-color: transparent;
      cursor: pointer;
      outline: none;

      &:hover {
        @extend %hover-btn;
      }
    }
  }

  &__content {
    background-color: rgba(18, 38, 32, 0.6);
    border-radius: 5px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
  }

  &__user {
    text-align: center;
    margin-bottom: 30px;
    &-pic {
      margin-bottom: 5px;
    }
    &-name {
      font-size: 28px;
    }
    &-info {
      color: $true-white;
      opacity: 0.8;
    }
  }

  &__socials {
    text-align: center;
    margin-bottom: auto;
    .socials__icon {
      fill-opacity: 0.5;

      &:hover {
        @extend %hover-svg-green;
      }
    }
  }

  &__buttons {
    display: flex;
  }

  &__button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    background-color: $light-green;
    border-right: 1px solid rgba(161, 186, 158, 0.6);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: $true-white;
    font-weight: 500;

    @include iphone5 {
      font-size: 14px;
    }

    &:hover {
      @extend %hover-btn;
    }

    &:first-child {
      border-bottom-left-radius: 5px;
    }

    &:last-child {
      border-bottom-right-radius: 5px;
      border-right-width: 0px;
    }
  }

  &__copyright {
    position: absolute;
    @include centered(x);
    bottom: 45px;
    white-space: nowrap;
    color: $true-white;
    @include phones {
      bottom: 30px;
    }
    & span {
      display: inline-block;
      @include phones {
        display: block;
        text-align: center;
      }
    }
  }
}
