.works {
	min-height: 100vh;
	//height: 100%;
}

.works_wrapper {
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow: visible;
}

.works__header {
	//flex: 1;
	@extend %clearfix;
}

.works__header {
	//height: 18%;
	background-color: $white;
}

.works__left-triangle, .works__right-triangle {
	float: left;
	width: 50%;
	position: relative;
	height: 1px;
}

.works__title {
	text-align: center;
	padding-top: 20px;
}

.works__main-contant {
	//flex: 1;
	//height: 85%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap; //Если высоты не хватает, колонки смещаются вправо

	@include tablets {
		flex-wrap: nowrap; //Если высоты не хватает, колонки не смещаются вправо
	}
}

.works__desc {
	height: 100%;
	width: 50%;
	background-color: $beige;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@include tablets {
		width: 100%;
	}
}

.works__desc-title {
	width: 320px;
	margin-bottom: 25px;

	@include tablets {
		margin-top: 30px;
	}
}

.works__desc-skills {
	font-weight: 500;
	color: $dark-green;
	margin-bottom: 60px;
	text-transform: uppercase;
}

.works__desc-btn {
	width: 212px;
	height: 45px;
	background-color: $dark-green;
	border-radius: 35px;
	white-space: nowrap;

	@include tablets {
		margin-bottom: 30px;
	}
}

.works__desc-btn-link {
	text-decoration: none;
	padding: 10px 15px;
	display: flex;
	align-items: center;
}

.works__desc-btn-pic {
	//выравниваем иконку по центру в блоке
	display: flex;
	justify-content: center;
	align-items: center;
}

.works__desc-btn-icon {
	width: 30px;
	height: 25px;
	fill: $true-white;
	margin-right: 15px;
}

.works__desc-btn-text {
	font-weight: 500;
	color: $true-white;
}

.works__display {
	background-color: $dark-beige;
	width: 50%;
	flex: 4;

	@include tablets {
		width: 100%;
		order: -1;
	}
}

.works__display-example {
	//height: 100%;
	//width: 100%;
	max-width: 100%;
	max-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	@include tablets {
		padding: 30px 0;
	}
}

.works__display-example-pic {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.works__buttons {
	background-color: $dark-beige;
	flex: 1;
	min-height: 100px;
	height: 100%;
	display: flex;
}

.works__buttons-link {
	min-height: 100%;
	flex: 1;

	&_left {
		background: url('../img/example1.png') center center no-repeat;
		background-size: contain;
	}

	&_right {
		background: url('../img/example1.png') center center no-repeat;
		background-size: contain;
	}
}
