extends ../_template

block variables
  - var title = 'About';
  -
    var pages = [
      { href: "works.html", text: "Мои работы" },
      { href: "about.html", text: "Обо мне" },
      { href: "blog.html", text: "Блог" },
      { href: "index.html", text: "Авторизация" }
    ];
  -
    var contacts = [
      ['skype', 'pink_panter_cyk'],
      ['envelope2', 'tania.marokina@gmail.com'],
      ['phone2', '+7968 468 6763'],
      ['map_marker', 'Москва']
    ]

block content
  section.section.hero
    img.hero__bg(src="assets/img/hero.jpg")
    .hero__container
      .hero__socials
        +socials()
      .hero__burger-menu.burger-menu
        .burger-menu__close
          .burger-menu__hamburger
        .burger-menu__open.hidden Главное меню
          .burger-menu__open-right
          .burger-menu__open-left
          .burger-menu__open-text
            +list("burger-menu", pages)
      .hero__title
        .section-title
          svg.section-title__pic
            use(xlink:href="assets/img/sprite.svg#portfolio_header")
      .user.hero__user
        .user__block
          .user__pic
            img(src="assets/img/user1.jpg" alt="me").user__img
          .user__description
            .user__name Татьяна Марокина
            .user__info Личный сайт веб разработчика
      .arrow-down.hero__arrow-down
        svg.arrow-down__pic
          use(xlink:href="assets/img/sprite.svg#arrow_down")
      .triangle.triangle_left.triangle__fill-beige.about__triangle-left
        svg(viewbox="0 0 1000 150" preserveAspectRatio="none").triangle__svg
          polygon(points="0,0 0,150 1000,150")
      .triangle.triangle_right.triangle__fill-white.about__triangle-right
        svg(viewbox="0 0 1000 150" preserveAspectRatio="none").triangle__svg
          polygon(points="1000,0 1000,150 0,150")
  section.section.about
    .about__main-contant
      .about__left
        .about__left-title
          +block-title('about_header', 'Обо мне')
        .about__left-content
          .user-about
            .user-about__img
              img(src="assets/img/user1.jpg" alt="me" width="443" height="390").user-about__pic
            .user-about__title
              .block-subtitle Кто я
            .user-about__text.text-content
              p Привет! Я&nbsp;веб-разработчик из&nbsp;Москвы. Занимаюсь разработкой современных сайтов, лендингов и&nbsp;приложений. Мне нравится делать интересные и&nbsp;современные проекты.
              p На&nbsp;данном этапе меня больше привлекает Frontend разработка, но я&nbsp;также знакома и&nbsp;могу решать несложные задачи на Backend.
      .about__right
        .about__right-title
          .block-subtitle Чем я могу быть вам полезна
        .about__right-content
          .skills
            +grades('Frontend', {name: 'HTML5', score: 100}, {name: 'CSS3', score: 100}, {name: 'SASS / SCSS', score: 100}, {name: 'LESS', score: 100}, {name: 'JavaScript', score: 80}, {name: 'React/ Redux', score: 70}, {name: 'Pug /Nunjucks', score: 90})
            +grades('Backend', {name: 'PHP', score: 30}, {name: 'Python', score: 35}, {name: 'mySQL', score: 30}, {name: 'Node.js & npm', score: 50})
            +grades('Workflow', {name: 'Git', score: 80}, {name: 'Gulp', score: 80}, {name: 'Webpack', score: 80}, {name: 'Jira', score: 90})
  section.section.map
    .wrapper.wrapper_map
      .map__main-content
        //- .google-map
        .map__contacts
          .contacts
            .contacts__title
              .block-subtitle Контакты
            ul.contacts__list
              each contact in contacts
                li.contacts__item
                  .contacts__icon
                    svg.contacts__icon-pic
                      use(xlink:href=`./assets/img/sprite.svg#${contact[0]}`)
                  .contacts__content #{contact[1]}
      footer.footer
        .container
          +footerNav(pages)
          .footer__socials
            +socials(true)
        .footer__copyright
          p &copy; Марокина Татьяна | Создано с любовью в LOFTSCHOOL | 2017-2020

  include ./preloader