extends ../_template

block variables
  - var title = 'Blog';
  -
    var pages = [
      { href: "works.html", text: "Мои работы" },
      { href: "about.html", text: "Обо мне" },
      { href: "blog.html", text: "Блог" },
      { href: "index.html", text: "Авторизация" }
    ];

block content
  section.section.hero
    img.hero__bg(src="assets/img/hero.jpg")
    .hero__container
      .hero__burger-menu.burger-menu
        .burger-menu__close
          .burger-menu__hamburger
        .burger-menu__open.hidden Главное меню
          .burger-menu__open-right
          .burger-menu__open-left
          .burger-menu__open-text
            +list("burger-menu", pages)
      .hero__title
        .section-title
          svg.section-title__pic
            use(xlink:href="assets/img/sprite.svg#blog_header")
      .user.hero__user
        .user__block
          .user__pic
            img(src="assets/img/user1.jpg" alt="me").user__img
          .user__description
            .user__title-blog
              +block-title('blog_header', 'Блог')
            .user__info Статьи, которые я написала
      .triangle.triangle_left.triangle__fill-white
        svg(viewbox="0 0 1000 150" preserveAspectRatio="none").triangle__svg
          polygon(points="0,0 0,150 1000,150")
      .triangle.triangle_right.triangle__fill-white
        svg(viewbox="0 0 1000 150" preserveAspectRatio="none").triangle__svg
          polygon(points="1000,0 1000,150 0,150")
  section.section.blog
    .wrapper.wrapper_blog
      .blog__main-content
        .blog__content
          aside.blog__sidebar
            nav.blog__nav
              ul.blog__nav-list
                -
                  var articles = [
                    'Самое важное в SASS',
                    'Приемы в верстке, без которых не обходится ни один сайт',
                    'Самый необходимый набор Gulp плагинов'
                  ];
                each item, index in articles
                  if (index == 0)
                    li.blog__nav-item.active
                      a(href=`#article${index}`).blog__nav-link.active #{item}
                  else
                    li.blog__nav-item
                      a(href=`#article${index}`).blog__nav-link #{item}
          .blog__articles
            .blog__article#article0
              .blog__article-header Самое важное в SASS
              .blog__article-date 22 ноября 2016
              .blog__article-text.text-content
                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                img(src="./assets/img/article_pic.png" alt="code").blog__article-pic
            .blog__article#article1
              .blog__article-header Приемы в верстке, без которых не обходится ни один сайт
              .blog__article-date 22 ноября 2016
              .blog__article-text.text-content
                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                img(src="./assets/img/article_pic.png" alt="code").blog__article-pic
            .blog__article#article2
              .blog__article-header Самый необходимый набор Gulp плагинов
              .blog__article-date 22 ноября 2016
              .blog__article-text.text-content
                p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                img(src="./assets/img/article_pic.png" alt="code").blog__article-pic
      footer.footer
        .container
          +footerNav(pages)
          .footer__socials
            +socials()
        .footer__copyright
          p &copy; Марокина Татьяна | Создано с любовью в LOFTSCHOOL | 2017-2020

  include ./preloader