extends ../_template

block variables
	- var title = 'Welcome'

block content
	section.section.welcome
		img.welcome__bg(src="./assets/img/hero.jpg")
		.welcome__container
			.welcome__authorization
				a(href="#").welcome__auth-btn Авторизоваться
			.welcome__content
				.welcome__user.user
					.user__pic.welcome_pic(style="background-image: url('./assets/img/user.jpg')")
					.user__description
						.user__name.welcome_name Татьяна Марокина
						.user__info.welcome_info Личный сайт веб разработчика
				.welcome__socials
					ul.socials
						each item in ['vk', 'github', 'in']
							li.socials__item
								a(href="#").socials__link
									svg(class=`socials__icon socials__icon_${item}`)
										use(xlink:href=`./assets/img/sprite.svg#${item}`)
				.welcome__buttons
					-
						var buttons = [
							['Мои работы', 'works'],
							['Обо мне', 'about'],
							['Блог', 'blog']
						]
					each btn in buttons
						.welcome__button
							a(href=`${btn[1]}.html`).welcome__link #{btn[0]}
			.welcome__copyright
				p &copy; Марокина Татьяна 
				p | Создано с любовью в LOFTSCHOOL | 2017