%clearfix{
	&:after{
		content: "";
		display: table;
		clear: both;
	}
}

%hover-svg-green {
	fill: $dark-green;
	transition: .3s all;
}

%hover-svg-white {
	fill-opacity: 1;
	transition: .3s all;
}

%hover-btn {
	transition: .3s all;
	background-color: $dark-green;
	border-color: $dark-green;
}

%hover-link {
	transition: .3s all;
	color: $dark-green;
}

@mixin centered($axis: 'both') {
	position: absolute;
	@if $axis=='x' {
		left: 50%;
		transform: translateX(-50%);
	}
	@if $axis=='y' {
		top: 50%;
		transform: translateY(-50%);
	}
	@if $axis=='both' {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

//media
@mixin laptop() {
	@media screen and (max-width: 992px) {
		@content;
	}
}

@mixin tablets() {
	@media screen and (max-width: 768px) {
		@content;
	}
}

@mixin phones() {
	@media screen and (max-width: 480px) {
		@content;
	}
}

@mixin iphone5() {
	@media screen and (max-width: 320px) {
		@content;
	}
}